:root {
    background-color: #242424;
    background-color: #f8f0f0;
    color: #fff;
}

* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}